$gray-100: #f3f3f3 !default;
$gray-200: #eee !default;
$gray-210: #e9e9e9 !default;
$gray-300: #ddd !default;
$gray-400: #cacaca !default;
$gray-500: #aaa !default;
$gray-600: #888 !default;
$gray-700: #666 !default;
$gray-800: #333 !default;

$primary: #1e87f0 !default;
$finishing: #fd0;
$white: #fff;
$black: #000;

$fs-12: 0.75rem;
$fs-14: 0.875rem;
$fs-16: 1rem;
$fs-18: 1.125rem;

$box-shadow: 0 2px 15px rgba(0, 0, 0, 0.02);
// $box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
$radius: 5px;
$width: 1120px;
$animation-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
$margin: 30px;

$bg-color: #f2f4f7; // ##f2f4f7;f1f2f9

$base-body-font-family: PingFang SC, Lantinghei SC, Helvetica Neue, Helvetica,
  Arial, Microsoft YaHei, "\5FAE\8F6F\96C5\9ED1", STHeitiSC-Light, simsun,
  "\5B8B\4F53", WenQuanYi Zen Hei, WenQuanYi Micro Hei, "sans-serif";
$base-heading-font-family: $base-body-font-family;

$article-title-font-size-m: 2.23125rem;
$card-body-padding-vertical-l: 20px;
$card-body-padding-horizontal-l: 20px;
$card-header-padding-vertical-l: 20px;
$card-header-padding-horizontal-l: 20px;
$card-footer-padding-vertical-l: 20px;
$card-footer-padding-horizontal-l: 20px;


$offcanvas-bar-background: $white;
$offcanvas-bar-color-mode: dark;