{{!--
This footer template is shared across all the pages.
--}}


<footer class="wt-footer-public">
  <div class="wp">
    <div class="wt-footer uk-section">
      <div class="wt-container">
        <div class="uk-child-width-1-6@m" uk-grid>
          <div>
            <div>
              <img class="uk-preserve footer_logo" src="https://cdn.worktile.com/assets/images/next/logo/logo_samll.svg"
                uk-svg />
            </div>
          </div>
          <div>
            <h5>产品</h5>
            <ul class="uk-nav">
              <li><a href="https://worktile.com/agile">Agile</a></li>
              <li><a href="https://worktile.com/pipe">Pipe</a></li>
              <li><a href="https://worktile.com/testhub">Testhub</a></li>
              <li><a href="https://worktile.com/trace">Trace</a></li>
              <li><a href="https://worktile.com/teams">Teams</a></li>
              <li><a href="https://worktile.com/client">客户端</a></li>
            </ul>
          </div>
          <div>
            <h5>服务</h5>
            <ul class="uk-nav">
              <li><a href="https://worktile.com/solution">解决方案</a></li>
              <li><a href="https://worktile.com/case">客户案例</a></li>
              <li><a href="//help.worktile.com">帮助中心</a></li>
              <li><a href="https://worktile.com/videos">视频教程</a></li>
              <li><a href="https://blog.worktile.com">官方博客</a></li>
            </ul>
          </div>
          <div>
            <h5>公司</h5>
            <ul class="uk-nav">
              <li><a href="https://worktile.com/about">关于我们</a></li>
              <li><a href="https://worktile.com/press">媒体报道</a></li>
              <li><a href="https://worktile.com/contact">联系我们</a></li>
              <li><a href="https://worktile.com/privacy">隐私声明</a></li>
              <li><a href="https://worktile.com/terms">服务条款</a></li>
              <li><a href="https://worktile.com/developer">开发者</a></li>
            </ul>
          </div>
          <div>
            <h5>更多</h5>
            <ul class="uk-nav">
              <li><a href="https://worktile.com/partner">合作伙伴</a></li>
              <!-- <li><a href="/plus">公益计划</a></li> -->
              <li><a href="https://worktile.com/workshop">Workshop</a></li>
            </ul>
          </div>
          <div>
            <h5>联系客户顾问</h5>
            <ul class="uk-nav">
              <li><a href="">+86 400 805 6966</a></li>
              <li class="footer-icon">
                <ul>
                  <li class="wechat">
                    <a href="javascript:;" target="_blank"><i class="wt-icon-wechat"></i></a>
                    <img class="wechat-tip" width="100%"
                      src="https://cdn.worktile.com/assets/images/home/new-weixin.png?v=<%=locals.config.version%>"
                      alt="" />
                  </li>
                  <li>
                    <a href="http://weibo.com/worktile" target="_blank"><i class="wt-icon-weibo"></i></a>
                  </li>
                  <li>
                    <a href="/blog" target="_blank"><i class="wt-icon-rss"></i></a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="wt-footer-copyright">
          © 2013 - 2020 Worktile.com
          <span>ICP:京B2-20192206 京ICP备13017353号-4
            京公网安备11010802012357号</span>
          <div class="wt-footer-copyright-img">
            <img src="https://cdn.worktile.com/assets/images/next/other/certificate_1.svg" />
            <img src="https://cdn.worktile.com/assets/images/next/other/certificate_2.svg" />
          </div>
        </div>
      </div>
    </div>

    <div class="wt-footer-phone">
      <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
        <li class="uk-parent wt-footer-menu">
          <a href="#" class="wt-footer-menu-title">产品</a>
          <ul class="uk-nav-sub">
            <li class="wt-footer-menu-item"><a href="https://worktile.com/agile">Agile</a></li>
            <li class="wt-footer-menu-item"><a href="https://worktile.com/pipe">Pipe</a></li>
            <li class="wt-footer-menu-item"><a href="https://worktile.com/trace">Trace</a></li>
            <li class="wt-footer-menu-item">
              <a href="https://worktile.com/testhub">TestHub</a>
            </li>
            <li class="wt-footer-menu-item"><a href="https://worktile.com/teams">Teams</a></li>
            <li class="wt-footer-menu-item"><a href="https://worktile.com/client">客户端</a></li>
          </ul>
        </li>
        <li class="uk-parent wt-footer-menu">
          <a href="#" class="wt-footer-menu-title">服务</a>
          <ul class="uk-nav-sub">
            <li class="wt-footer-menu-item">
              <a href="https://worktile.com/solution">解决方案</a>
            </li>
            <li class="wt-footer-menu-item"><a href="https://worktile.com/case">客户案例</a></li>
            <li class="wt-footer-menu-item">
              <a href="//help.worktile.com">帮助中心</a>
            </li>
            <li class="wt-footer-menu-item">
              <a href="https://worktile.com/videos">视频教程</a>
            </li>
          </ul>
        </li>
        <li class="uk-parent wt-footer-menu">
          <a href="#" class="wt-footer-menu-title">公司</a>
          <ul class="uk-nav-sub">
            <li class="wt-footer-menu-item"><a href="https://worktile.com/about">关于我们</a></li>
            <li class="wt-footer-menu-item"><a href="https://worktile.com/press">媒体报道</a></li>
            <li class="wt-footer-menu-item">
              <a href="https://worktile.com/contact">联系我们</a>
            </li>
            <li class="wt-footer-menu-item">
              <a href="https://worktile.com/privacy">隐私声明</a>
            </li>
            <li class="wt-footer-menu-item"><a href="https://worktile.com/terms">服务条款</a></li>
            <li class="wt-footer-menu-item">
              <a href="https://worktile.com/developer">加入我们</a>
            </li>
          </ul>
        </li>
        <li class="uk-parent wt-footer-menu">
          <a href="#" class="wt-footer-menu-title">更多</a>
          <ul class="uk-nav-sub">
            <li class="wt-footer-menu-item">
              <a href="https://worktile.com/partner">合作伙伴</a>
            </li>
            <li class="wt-footer-menu-item">
              <a href="https://worktile.com/workshop">Workshop</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="wt-footer-info">
        <p>联系客户顾问</p>
        <p>+86 400 805 6966</p>
        <span>京公网安备11010802012357号</span>
      </div>
    </div>
  </div>
</footer>

<script>
  (function (para) {
    var p = para.sdk_url,
      n = para.name,
      w = window,
      d = document,
      s = 'script',
      x = null,
      y = null;
    w['sensorsDataAnalytic201505'] = n;
    w[n] = w[n] || function (a) {
      return function () {
        (w[n]._q = w[n]._q || []).push([a, arguments]);
      }
    };
    var ifs = ['track', 'quick', 'register', 'registerPage', 'registerOnce', 'clearAllRegister', 'trackSignup', 'trackAbtest', 'setProfile', 'setOnceProfile', 'appendProfile', 'incrementProfile', 'deleteProfile', 'unsetProfile', 'identify', 'login', 'logout', 'trackLink', 'clearAllRegister'];
    for (var i = 0; i < ifs.length; i++) {
      w[n][ifs[i]] = w[n].call(null, ifs[i]);
    }
    if (!w[n]._t) {
      x = d.createElement(s), y = d.getElementsByTagName(s)[0];
      x.async = 1;
      x.src = p;
      y.parentNode.insertBefore(x, y);
      w[n].para = para;
    }
  })({
    sdk_url: '{{asset "thirdparty/sensorsdata.min.js" }}',
    name: 'sa',
    server_url: 'https://worktile.com/sa',
    heatmap: {
      loadTimeout: 3000,
      collect_url: function () {
        return true;
      }
    }
  });
  sa.quick('autoTrack');
</script>